@{
    ViewData["Title"] = "Quên mật khẩu";
}

@{
    var imageUrl = "../images/advert2.png";
}

@model Clothing_Store.Models.ForgotPasswordModel

<div class="_account-page __header">
    <div class="_container">
        <div class="_row">
            <div class="col-md-6 col-0">
                <div class="d-none d-md-block">
                    <img src="~/images/advert2.png" width="100%">
                </div>
            </div>
            <div class="col-md-6 col-12 p-3">
                <div class="_form-container">
                    <div class="_form-btn">
                        <span class="_form-title">Quên mật khẩu</span>
                        <hr class="_form-title-indicator" style="margin: 8px 0 0 0; height: 3px; background: #243a6f" />
                    </div>
                    <form method="post" asp-action="ForgotPassword">
                        <input asp-for="Email" class="_form-input" type="email" placeholder="Email" />
                        <button type="submit" class="_btn">Cấp lại mật khẩu</button>

                        @if (ViewBag.ForgotPasswordMsg == null)
                        {
                            <small class="_form-explain" style="margin-bottom: 2rem; display: inline-block">
                                Khi nhấn cấp lại mật khẩu email truyền vào sẽ nhận được đường
                                link cho phép nhập mật khẩu mới.
                            </small>
                        }


                        <div id="error-msg-reg" class="__notify-msg" style="">@ViewBag.ForgotPasswordMsg</div>
                        <div id="error-msg-reg" class="__error-msg">@ViewBag.ForgotPasswordErrorMsg</div>
                        <div asp-validation-summary="All" class="text-dannger"></div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}