
@{
    ViewData["Title"] = "Tài khoản";
}

<!-- --------------------- account page -----------------  -->
<div class="_account-page">
    <div class="_container">
        <div class="_row">
            <div class="col-md-6 col-0">
                <div class="d-none d-md-block">
                    <img src="./images/advert2.png" width="100%">
                </div>
            </div>
            <div class="col-md-6 col-12 p-3">
                <div class="_form-container">
                    <div class="_form-btn">
                        <span id="signin_span">Đăng nhập</span>
                        <span id="signup_span">Đăng ký</span>
                        <hr id="_Indicator">
                    </div>

                    <form id="_LoginForm">
                        <input class="_form-input" type="text" placeholder="Tên tài khoản">
                        <input class="_form-input" type="passowrd" placeholder="Mật khẩu">
                        <button type="submit" class="_btn">Đăng nhập</button>
                        <a href="">Quên mật khẩu</a>
                    </form>

                    <form id="_RegForm">
                        <input class="_form-input" type="text" placeholder="Tên tài khoản">
                        <input class="_form-input" type="email" placeholder="Email">
                        <input class="_form-input" type="passowrd" placeholder="Mật khẩu">
                        <button type="submit" class="_btn">Đăng ký</button>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>
