
@{
    ViewData["Title"] = "Chi tiết đơn hàng";
}

<div class="__container __cart">
    <div class="fs-1 fw-bold mt-5">Thông tin đơn hàng:</div>
    <div class="row border p-3 mx-1 my-4">
        <div class="col-md-4 col-6">
            <div class="p-4 row fs-3">
                <div class="col-6"> Mã đơn hàng: </div>
                <div class="col-6"> AH213421 </div>
            </div>
            <div class="p-4 row fs-3">
                <div class="col-6"> Loại thanh toán: </div>
                <div class="col-6"> Visa </div>
            </div>
            <div class="p-4 row fs-3">
                <div class="col-6"> Số thẻ Visa: </div>
                <div class="col-6"> 2314431 </div>
            </div>
        </div>

        <div class="col-md-4 col-6">
            <div class="p-4 row fs-3">
                <div class="col-6"> Tình trạng: </div>
                <div class="col-6"> Đã giao </div>
            </div>
            <div class="p-4 row fs-3">
                <div class="col-6"> Ngày đặt hàng: </div>
                <div class="col-6"> 12/12/2021 </div>
            </div>

            <div class="p-4 row fs-3">
                <div class="col-6"> Ngày giao hàng: </div>
                <div class="col-6"> 12/12/2021 </div>
            </div>
        </div>

        <div class="col-md-4 d-none d-md-block">
            <div class="p-4">Ghi chú: </div>
            <div class="px-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum at tempore, dolore velit totam dignissimos quibusdam facilis ab vel est, iusto sed laudantium placeat aut dolores distinctio quo, pariatur nulla.</div>
        </div>
    </div>


    <div class="fs-1 fw-bold mt-5">Danh sách sản phẩm:</div>
    <table class="my-4">
        <tr>
            <th class="col-md-1 col-1 py-4 text-center">STT</th>
            <th class="col-md-4 col-7 py-4 ">Sản phẩm</th>
            <th class="col-md-2 text-center"><div class="d-none d-md-block"> Phân loại </div></th>
            <th class="col-md-2 text-center"><div class="d-none d-md-block"> Chi tiết </div></th>
            <th class="col-md-1 col-2 text-center">Số lượng</th>
            <th class="col-md-2 col-2 text-center">Số tiền</th>
        </tr>
        <tr class="border">
            <td class="col-md-1 col-1 text-center">1</td>
            <td class="col-md-4 col-7">
                <div class="row">
                    <div class="col-3">
                        <img src="~/images/pic1.jpg" alt="">
                    </div>
                    <div class="d-flex align-items-center col-9">
                        <a href="#" class="fs-2"><p class="text-break">  Boy’s T-Shirt Boy’s T-Shirt Boy’s T-Shirt Boy’s T-Shirt</p></a>
                    </div>
                </div>
            </td>
            <td class="col-md-1 text-center"><div class="d-none d-md-block"> Áo trẻ con</div></td>
            <td class="col-md-2 text-center"><div class="d-none d-md-block"> Đỏ | Size 10 </div></td>
            <td class="col-md-1 col-2 text-center text-break">2</td>
            <td class="col-md-2 col-2 text-center">$50.00</td>
        </tr>
        <tr class="border">
            <td class="col-md-1 col-1 text-center">2</td>
            <td class="col-md-4 col-7">
                <div class="row">
                    <div class="col-3">
                        <img src="~/images/pic1.jpg" alt="">
                    </div>
                    <div class="d-flex align-items-center col-9">
                        <a href="#" class="fs-2"><p class="text-break">  Boy’s T-Shirt Boy’s T-Shirt Boy’s T-Shirt Boy’s T-Shirt</p></a>
                    </div>
                </div>
            </td>
            <td class="col-md-1 text-center"><div class="d-none d-md-block"> Áo trẻ con </div></td>
            <td class="col-md-2 text-center"><div class="d-none d-md-block"> Đỏ | Size 10 </div></td>
            <td class="col-md-1 col-2 text-center">2</td>
            <td class="col-md-2 col-2 text-center">$50.00</td>
        </tr>
    </table>

    <div class="d-flex justify-content-end my-4">
        <table class="w-50 fs-3">
            <tr class="border-top border-dark">
                <td>Tổng tiền hàng:</td>
                <td>2.000.000đ</td>
            </tr>
            <tr>
                <td>Giảm giá hóa đơn:</td>
                <td>100.000đ</td>
            </tr>
            <tr>
                <td>Chi phí vận chuyển:</td>
                <td>50.000đ</td>
            </tr>
            <tr>
                <td>Khách cần trả:</td>
                <td class="fs-2 fw-bold">1.950.000đ</td>
            </tr>
        </table>
    </div>

</div>

