
@{
    ViewData["Title"] = "Lịch sử đơn hàng";
}

<div class="__container __cart">
    <div class="fs-1 fw-bold mt-5">Tất cả đơn hàng:</div>
    <table class="mt-4">
        <tr>
            <th class="col-md-2 col-5 text-center">Mã đơn hàng</th>
            <th class="col-md-2 text-center">Ngày đặt hàng</th>
            <th class="col-md-2 text-center"><div class="d-none d-md-block"> Hình thức thanh toán</div></th>
            <th class="col-md-2 text-center"><div class="d-none d-md-block"> Tổng tiền thanh toán </div></th>
            <th class="col-md-2 col-7 text-center">Trạng thái</th>
        </tr>
        <tr class="border">
            <td class="col-md-2 col-5 text-center fw-bold"><a asp-action="Order" asp-route-id="AH213421">AH213421</a></td>
            <td class="col-md-2 text-center">12/12/2021</td>
            <td class="col-md-2 text-center"><div class="d-none d-md-block"> Visa </div></td>
            <td class="col-md-2 text-center"><div class="d-none d-md-block"> 2.000.000đ </div></td>
            <td class="col-md-2 col-7 text-center">Đang vận chuyển</td>
        </tr>
    </table>

</div>

