@{
    ViewData["Title"] = "Tài khoản";
}

@model Clothing_Store.Models.ResetPasswordModel

<div class="_account-page __header">
    <div class="_container">
        <div class="_row">
            <div class="col-md-6 col-0">
                <div class="d-none d-md-block">
                    <img src="~/images/advert2.png" width="100%">
                </div>
            </div>
            <div class="col-md-6 col-12 p-3">
                <div class="_form-container">
                    <div class="_form-btn">
                        <span class="_form-title">Khôi phục mật khẩu</span>
                        <hr class="_form-title-indicator" style="margin: 8px 0 6px 0; height: 3px; background: #243a6f" />
                        <small class="_form-explain">Tài khoản: <b>@ViewBag.AccountName</b></small>
                    </div>
                    <form style="margin-top: 2rem" method="post" asp-action="ResetPassword">
                        <input type="hidden" id="Username" name="Username" value="@ViewBag.AccountName" />
                        <input asp-for="Password"
                               class="_form-input"
                               type="password"
                               placeholder="Mật khẩu mới" />
                        <input asp-for="ConfirmPassword"
                               class="_form-input"
                               type="password"
                               placeholder="Nhập lại mật khẩu mới" />
                        <button type="submit" class="_btn">Khôi phục mật khẩu</button>

                        <div asp-validation-summary="All" class="text-dannger"></div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}